<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolun.mall.mapper.ActivityShareRecordMapper">
    
    <resultMap type="com.joolun.mall.entity.ActivityShareRecord" id="ActivityShareRecordResult">
        <result property="id"    column="id"    />
        <result property="commission"    column="commission"    />
        <result property="activityId"    column="activity_id"    />
        <result property="activityName"    column="activity_name"    />
        <result property="sharerId"    column="sharer_id"    />
        <result property="sharer"    column="sharer"    />
        <result property="withdraw"    column="withdraw"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectActivityShareRecordVo">
        select id, commission, activity_id, activity_name, sharer_id, sharer, withdraw, create_time from activity_share_record
    </sql>

    <select id="selectActivityShareRecordList" parameterType="com.joolun.mall.entity.ActivityShareRecord" resultMap="ActivityShareRecordResult">
        <include refid="selectActivityShareRecordVo"/>
        <where>  
            <if test="commission != null "> and commission = #{commission}</if>
            <if test="activityId != null "> and activity_id = #{activityId}</if>
            <if test="activityName != null  and activityName != ''"> and activity_name like concat('%', #{activityName}, '%')</if>
            <if test="sharerId != null "> and sharer_id = #{sharerId}</if>
            <if test="sharer != null  and sharer != ''"> and sharer = #{sharer}</if>
            <if test="withdraw != null "> and withdraw = #{withdraw}</if>
        </where>
    </select>
    
    <select id="selectActivityShareRecordById" parameterType="java.lang.Long" resultMap="ActivityShareRecordResult">
        <include refid="selectActivityShareRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertActivityShareRecord" parameterType="com.joolun.mall.entity.ActivityShareRecord">
        insert into activity_share_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="commission != null">commission,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="activityName != null and activityName != ''">activity_name,</if>
            <if test="sharerId != null">sharer_id,</if>
            <if test="sharer != null and sharer != ''">sharer,</if>
            <if test="withdraw != null">withdraw,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="commission != null">#{commission},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="activityName != null and activityName != ''">#{activityName},</if>
            <if test="sharerId != null">#{sharerId},</if>
            <if test="sharer != null and sharer != ''">#{sharer},</if>
            <if test="withdraw != null">#{withdraw},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateActivityShareRecord" parameterType="com.joolun.mall.entity.ActivityShareRecord">
        update activity_share_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="commission != null">commission = #{commission},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="activityName != null and activityName != ''">activity_name = #{activityName},</if>
            <if test="sharerId != null">sharer_id = #{sharerId},</if>
            <if test="sharer != null and sharer != ''">sharer = #{sharer},</if>
            <if test="withdraw != null">withdraw = #{withdraw},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteActivityShareRecordById" parameterType="java.lang.Long">
        delete from activity_share_record where id = #{id}
    </delete>

    <delete id="deleteActivityShareRecordByIds" parameterType="java.lang.String">
        delete from activity_share_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>