<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolun.mall.mapper.ActivityMapper">
    
    <resultMap type="com.joolun.mall.entity.Activity" id="ActivityResult">
        <result property="id"    column="id"    />
        <result property="categoryId"    column="category_id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="address"    column="address"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="location"    column="location"    />
        <result property="introduction"    column="introduction"    />
        <result property="explanation"    column="explanation"    />
        <result property="commission"    column="commission"    />
        <result property="creatorId"    column="creator_id"    />
        <result property="creator"    column="creator"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectActivityVo">
        select id, category_id, name, price, address, image_url, location, introduction, explanation, commission, creator_id, creator, create_time from activity
    </sql>

    <select id="selectActivityList" parameterType="com.joolun.mall.entity.Activity" resultMap="ActivityResult">
        <include refid="selectActivityVo"/>
        <where>  
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="explanation != null  and explanation != ''"> and explanation = #{explanation}</if>
            <if test="commission != null "> and commission = #{commission}</if>
            <if test="creatorId != null "> and creator_id = #{creatorId}</if>
            <if test="creator != null  and creator != ''"> and creator = #{creator}</if>
        </where>
    </select>
    
    <select id="selectActivityById" parameterType="java.lang.Long" resultMap="ActivityResult">
        <include refid="selectActivityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertActivity" parameterType="com.joolun.mall.entity.Activity" useGeneratedKeys="true" keyProperty="id">
        insert into activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">category_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="price != null">price,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="location != null">location,</if>
            <if test="introduction != null">introduction,</if>
            <if test="explanation != null">explanation,</if>
            <if test="commission != null">commission,</if>
            <if test="creatorId != null">creator_id,</if>
            <if test="creator != null">creator,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">#{categoryId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="location != null">#{location},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="explanation != null">#{explanation},</if>
            <if test="commission != null">#{commission},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="creator != null">#{creator},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateActivity" parameterType="com.joolun.mall.entity.Activity">
        update activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="location != null">location = #{location},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="explanation != null">explanation = #{explanation},</if>
            <if test="commission != null">commission = #{commission},</if>
            <if test="creatorId != null">creator_id = #{creatorId},</if>
            <if test="creator != null">creator = #{creator},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteActivityById" parameterType="java.lang.Long">
        delete from activity where id = #{id}
    </delete>

    <delete id="deleteActivityByIds" parameterType="java.lang.String">
        delete from activity where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>