<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolun.mall.mapper.CourseMapper">

    <resultMap type="com.joolun.mall.entity.Course" id="CourseResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="introduction" column="introduction"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="recommend" column="recommend"/>
        <result property="status" column="status"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="ageStart" column="age_start"/>
        <result property="ageEnd" column="age_end"/>
        <result property="price" column="price"/>
        <result property="cashReturn" column="cash_return"/>
        <result property="rates" column="rates"/>
        <result property="plan" column="plan"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="question" column="question"/>
        <result property="questionAudio" column="question_audio"/>
        <result property="saleNum" column="sale_num"/>
    </resultMap>

    <sql id="courseSql">
       i.id,
       i.title,
       i.cover_url,
       i.recommend,
       i.status,
       i.start_time,
       i.end_time,
       i.age_start,
       i.age_end,
       i.price,
       i.cash_return,
       i.rates,
       i.plan,
       i.create_by,
       i.create_time,
       i.update_by,
       i.update_time,
       i.remark,
       i.question,
       i.question_audio,
       i.sale_num
    </sql>

    <select id="selectPage2" resultMap="CourseResult">
        SELECT
        <include refid="courseSql"/>
        FROM course i
        <where>
            <if test="query.categorySecond != null">
               and i.id in (select i.course_id
                from course_book i
                where i.book_id in (
                select c.bookid
                from (select a.id as bookid
                from book a
                , book_category b
                where a.category_second = b.id
                and b.id = #{query.categorySecond} ) c))
            </if>
            <if test="query.name !=null and query.name != ''">
                and i.title like concat('%',#{query.name},'%')
                or i.id in (select i.course_id
                from course_book i
                where i.book_id in (
                select c.bookid
                from (select a.id as bookid
                from book a
                , book_category b
                where a.category_second = b.id
                and a.title like concat('%',#{query.name},'%') ) c))
            </if>
        </where>
    </select>

</mapper>