<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolun.mall.mapper.CourseQuestionMapper">

    <resultMap type="com.joolun.mall.entity.CourseQuestion" id="CourseQuestionResult">
        <result property="id" column="id"/>
        <result property="courseId" column="course_id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="question" column="question"/>
        <result property="sort" column="sort"/>
        <result property="answer" column="answer"/>
    </resultMap>
    <select id="page2" resultType="com.joolun.mall.dto.QuestionDTO">
        select i.id, course_id, question, sort, answer, j.title
        from course_question i,
        course j
        <where>
            i.course_id = j.id
            <if test="null != query.courseId"> and i.course_id = #{query.courseId}</if>
            <if test="null != query.courseName"> and j.title like "%"#{query.courseName}"%"</if>
            <if test="null != query.name"> and i.question like "%"#{query.name}"%"</if>
        </where>

    </select>
</mapper>