<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolun.mall.mapper.EmpowerVideoMapper">

    <resultMap type="EmpowerVideo" id="EmpowerVideoResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="url"    column="url"    />
        <result property="videoLevel"    column="video_level"    />
        <result property="price"    column="price"    />
        <result property="rates"    column="rates"    />
        <result property="introduction"    column="introduction"    />
        <result property="createTime"    column="create_time"    />
        <result property="coverUrl"    column="cover_url"    />
    </resultMap>

    <sql id="selectEmpowerVideoVo">
        select id, title, url, video_level, price, rates, introduction, create_time,cover_url from empower_video
    </sql>

    <select id="selectEmpowerVideoList" parameterType="EmpowerVideo" resultMap="EmpowerVideoResult">
        <include refid="selectEmpowerVideoVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="videoLevel != null "> and video_level = #{videoLevel}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="rates != null "> and rates = #{rates}</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
        </where>
    </select>

    <select id="selectEmpowerVideoById" parameterType="Long" resultMap="EmpowerVideoResult">
        <include refid="selectEmpowerVideoVo"/>
        where id = #{id}
    </select>

    <insert id="insertEmpowerVideo" parameterType="EmpowerVideo" useGeneratedKeys="true" keyProperty="id">
        insert into empower_video
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="url != null">url,</if>
            <if test="videoLevel != null">video_level,</if>
            <if test="price != null">price,</if>
            <if test="rates != null">rates,</if>
            <if test="introduction != null">introduction,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="url != null">#{url},</if>
            <if test="videoLevel != null">#{videoLevel},</if>
            <if test="price != null">#{price},</if>
            <if test="rates != null">#{rates},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateEmpowerVideo" parameterType="EmpowerVideo">
        update empower_video
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="url != null">url = #{url},</if>
            <if test="videoLevel != null">video_level = #{videoLevel},</if>
            <if test="price != null">price = #{price},</if>
            <if test="rates != null">rates = #{rates},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteEmpowerVideoById" parameterType="Long">
        delete from empower_video where id = #{id}
    </delete>

    <delete id="deleteEmpowerVideoByIds" parameterType="java.lang.String">
        delete from empower_video where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>